{% extends "base.html.twig" %}

{% block title %}Administration des categories
{% endblock %}

{% block body %}

	<a class="btn btn-info" href="{{path('admin_product_index')}}">Administrer les produits</a>
	<a class="btn btn-info" href="{{path('admin_categorie_index')}}">Administrer les categories</a>
	<h1>Administrer les categies</h1>


	<fieldset>
		<table class="table">

			<thead>
				<tr>
					<td>Id</td>
					<td>Nom de categorie</td>
					<td>Parent</td>
					<td>Actions</td>
				</tr>

			</thead>

			<tbody>

				{% for categorie in categories  %}

					<tr>
						<td>
							{{categorie.id}}
						</td>
						<td>
							{{categorie.name}}
						</td>
						<td>
							{{categorie.parent}}
						</td>

						<td>
							<a href="{{path('admin_categorie_add')}}" class="btn btn-success">Ajouter</a>
							<a href="{{path('admin_categorie_edit',{id:categorie.id})}}" class="btn btn-primary">Modifier</a>
							<a href="{{path('admin_categorie_delete',{id:categorie.id})}}" class="btn btn-primary">Supprimer</a>

						</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</fieldset>


	<style>


		.fieldset {


			border-radius: 10px;
		}
	</style>
{% endblock %}
