{% extends 'base.html.twig' %}
{% block title %}Bijoux Siam
{% endblock %}

{% block body %}
	{# <div class="col-2 " id="col">
			{{form(form)}}
			</div> #}

	<p class="gratuite">Livraison gratuite pour les commandes supérieures à 50 €</p>
	<div class=" container-flid texte-center divvideo ">
		<div class="row align-items-center">
			<div class="col-mx-12 col-ms-12 col-md-4 col-lg-4 ">
				<p class="coeur">FAITES-VOUS PLAISIR
				</p>
				<p id="coeur" class="coeur">Nos sélections coup de coeur
				</p>
			</div>
			<div class=" col-mx-12 col-ms-12 col-md-4 col-lg-4">
				<video controls src="{{asset('video/vid1.mp4')}}" autoplay loop muted></video>

			</div>
		</div>
	</div>
	<div class=" divfieldset container-fluid">
		<div id="app" class="row justify-content-center  ">

			{% for product in products %}

				<fieldset class=" col-ms-12 col-md-5 col-lg-3 ">
					<div class="card h-100">
						<img src="{{ asset('build/images/products/mini/300x300-' ~ product.images[0].name ) }}" class="card-img-top" alt="{{ product.name }}">

						<a href="{{path("cart_add", {id: product.id})}}" class=" ajouter">
							<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-bag-plus-fill" viewbox="0 0 16 16">
								<path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
							</svg>
						</a>
						<h5 class="card-title">{{product.name}}</h5>
						<p class="">{{product.description}}</p>
						<p class="">{{product.price / 100}}
							€</p>
						<a href="{{path('produit_details',{slug:product.slug})}}" class="btn btn-secondary mb-2">Voir plus</a>
					</div>


				</fieldset>


			{% endfor %}


		</div>
	</div>
{% endblock %}
